:root {
  --primary-font-color: #000;
  --secondary-font-color: #fff;
  --tertiary-font-color: #585858;
  --quaternary-font-color: #9d9d9d;
  --quinary-font-color: #F4F0ED;
  --primary-bg-color: #fff;
  --secondary-bg-color: #B57EDC;
  --tertiary-bg-color: #aa32ff;
  --transparent: rgba(255,255,255,0);
}

body {
  font-family: 'Cormorant Garamond700', serif;
  font-size: 16px;
  background: var(--primary-bg-color);
  margin: 0;
  padding: 0;
  color: var(--primary-font-color);
}

#inicio {
  width: 100%;
  height: 100vh;
  position: relative;
}  

#header-desktop {
  display: none;    
}

#header-mobile {
  width: 100%;
  height: auto;
  position: absolute;
  background: var(--primary-bg-color);
  z-index: 1;
}

.cont-lg-mn {
  display: flex;
  width: 85%;
  height: 50px;
  align-items: center;
  margin-left: 7.5%;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

a:hover {
  color: #edededc4;
  transition: all 0.5 ease;
}

#logo-central {
  display: flex;
  height: 28px;
  align-items: center;
  font-size: 1.8rem;
}

#logo-central {
  margin-right: auto;
}

#menu-hd {
  cursor: pointer;
}

#header-mobile nav {
  margin-top: 10%;
  display: none;
  height: 90vh;
}

.show {
  display: block !important;
}

#header-mobile nav ul {
  display: block;
  list-style: none;
  padding: 0;
}

#header-mobile nav ul li {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

#presentacion {
  width: 80%;
  color: var(--secondary-font-color);
  position: absolute;
  top: 42%;
  left: 10%;
  text-shadow: 2px 2px 1px #000;
}

h1 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

#presentacion h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 25px;
}

#intro {
  text-align: center;
  margin: 0 20%;
  font-size: 1.4rem;
}

.img-hd {
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/sofa-mbl.jpg);
  background-size: cover;
}

#II-presentacion {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segunda-presentacion {
  text-align: center;
  font-size: 1.3rem;
}

.segunda-presentacion span {
  color: var(--tertiary-font-color);
  letter-spacing: 1rem;
}

.segunda-presentacion h2 {
  font-size: 2.5rem;
}

#sobre-mi div {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}

#parallax1 {
  background-image: url(imagenes/fondo-marmol5.jpg);
}

#parallax2 {
  background-image: url(imagenes/fondo-marmol2.jpg);
}

#parallax3 {
  background-image: url(imagenes/fondo-marmol3.jpg);
}

#sobre-mi p {
  font-size: 1.6rem;
  justify-content: center;
  text-align: justify;
  margin-left: 8%;
  letter-spacing: 7px;
  color: var(--secondary-font-color);
  padding: 0;
  margin: 0;
}

#sobre-mi b {
  transition: all 0.6s ease;
  cursor: pointer;
}

#sobre-mi a {
  color: var(--secondary-font-color);
}

#sobre-mi a:hover {
  color: var(--secondary-font-color);
}

#sobre-mi b:hover {
  font-size: 2rem;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color);
  box-shadow: 8px 8px 1px #f7e9ff;
}

#Glamour-Belleza {
  text-shadow: 1px 1px 4px #aa32ff;
}

.sect-uñas {
  width: 100%;
}

.cont-uñas {
  margin: 0 10%;
}

.subtitulo {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 15%;
  padding-top: 10%;
}

.card {
  width: 100%;
  
}

.img-card {
  box-shadow: 0 0 35px 5px #dfdfdf;
  transition: all 0.6s ease;
  position: relative;
}

.borde-interno::before {
  content: "";
  border: 5px solid var(--primary-bg-color);
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  opacity: 1;
}

.borde-interno:hover:before {
  transition: all 0.5s ease;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-card:hover {
  transform: translateY(-2px);
  box-shadow: none;
}

.img-card img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.descrip-nail {
  text-align: justify;
  color: var(--secondary-font-color);
  font-size: 1.4rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg,#B57EDC, #f319ff, #aa32ff, #6831ff);
  opacity: 0;
  transition: all 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.descrip-nail p {
  width: 80%;
  font-size: 120%;
}

.descrip-nail:hover {
  transition-delay: 0.2s;
  opacity: 1;
}

.text-card {
  text-align: center;
  font-size: 1.8rem;
  color: var(--quaternary-font-color);
}

#pestanas {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.c3, .c7 {
  display: none;
}

.subtitulo {
  grid-column: span 2;
}

.cont-grid {
  transition: all 0.6s ease;
  position: relative;
}

.cont-grid img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  
}

#centro {
  grid-column: span 2;
  color: var(--secondary-font-color);
  font-size: 1rem;
  text-shadow: 1px 1px 3px var(--secondary-bg-color);
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

#centro p {
  width: 80%;
  position: absolute;
}

.cont-grid:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.img-fondo {
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/fondo-marmol6.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;


  position: relative;
  overflow: hidden;
  
}

.img-fondo p {
  display: flex;
  position: absolute;
  color: var(--secondary-font-color);
  font-size: 160px;
  width: auto;
  white-space: nowrap;
  animation: desplazamiento 35s infinite;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(70%);
  }

  100% {
    transform: translateX(-65%);
  }
}

#trabajos {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 400%;
  height: 600px;
  margin-left: -100%;
}

.slider-section {
  width: 100%;
}

.img-slider {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-slider {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--primary-bg-color);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-slider-right {
  right: 10px;
}

.btn-slider-left {
  left: 10px;
}

#contacto {
  padding-top: 10%;
}

.com-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-left: 5%;
  text-align: center  ;
}

.com-area {
  display: flex;
  flex-direction:column;
  font-size: 1.7rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: var(--quaternary-font-color);
  text-shadow: 1px 1px 1px var(--secondary-bg-color);
}

.com-area img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*VERSIÓN IPAD - TABLETAS*/

@media screen and (min-width: 481px) {

  #header-desktop {
    display: none;    
  }
  
  #header-mobile {
    display: block;
    font-size: 1.5rem;
  }

  .cont-lg-mn {
    height: 65px;
  }

  #logo-central {
    font-size: 2rem;
  }
  
  #menu-hd {
    cursor: pointer;
  }
  
  #presentacion {
    width: 80%;
    top: 42%;
    left: 10%;
  }
  
  .img-hd {
    background-image: url(imagenes/sofa-mbl.jpg);
    background-size: cover;
  }
  
  #sobre-mi p {
    margin-bottom: 5%;
  }

  #sobre-mi p br:nth-of-type(2n) {
    display: none;
  }

  .cont-uñas {
    margin: 0 6%;
    display: flex;
  }

  .pres-uñas {
    padding: 5% 0 8% 0;
    margin: 0;
  }

  .sect-uñas {
    margin-bottom: 5%;
  }

  .card {
    width: 50%;
  }

  .img-card {
    width: 90%;
    display: flex;
    margin-left: 5%;
  }

  .com-grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

/*VERSIÓN ESCRITORIO*/

@media screen and (min-width: 821px) {

  #header-mobile {
    display: none;
  }

  #header-desktop {
    display: inline-block;
    width: 100%;
    height: 94px;
    background: var(--transparent);
    vertical-align: top;
    position: absolute;
    z-index: 1;
  }

  #header-desktop a {
    text-decoration: none;
    color: var(--secondary-font-color);
    text-shadow: 2px 2px 1px #000;
  }
  
  #header-desktop a:hover {
    color: #edededc4;
    transition: 1s;
  }
  
  #contenedor-header {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
  }
  
  #header-izquierda {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
  
  #header-derecha {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }
  
  nav {
    margin: 0 0 0 24px;
    height: 100%;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  
  nav ul li {
    margin: 0 18px;
    position: relative;
  }

  nav ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-bg-color);
    position: absolute;
    bottom: -3px;
    right: 50%;
    transition: all 0.4s ease;
  }

  nav ul li:hover:after {
    width: 100%;
    right: 0;
  }

  #presentacion {
    width: 60%;
    left: 20%;
  }

  .img-hd {
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/sofa-dsk.jpg);
    background-size: cover;
  }

  #pestanas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 300px auto;
  }

  .c3, .c7 {
    display: block;
  }

  .subtitulo {
    grid-column: span 3;
  }

  #centro {
    grid-column: span 3;
    font-size: 1.6rem;
  }

  #centro p {
    width: 60%;
  }

}